:root {
  --color1: #000000;
  --color2: #212121;
  --color3: #2196f3;
  --color4: #757575;
  --color5: #ffffff;
  --color6: #2f303a;
  --color7: #f5f4fa;
  --color8: #e5e5e5;
  --color9: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--color8);
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--color2);
}

.nav-text {
  text-decoration: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: var(--color2);
}

.contact-text {
  text-decoration: none;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: var(--color4);
}

.nav-text:hover {
  color: var(--color3);
  text-decoration: underline;
}

.nav-text:focus {
  color: var(--color3);
  text-decoration: underline;
}

.contact-text:hover {
  color: var(--color3);
  text-decoration: underline;
}

.contact-text:focus {
  color: var(--color3);
  text-decoration: underline;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 3%;
  position: absolute;
}

.header-logo {
  width: 145px;
  height: 31px;
  text-decoration: none;
}

.footer-logo {
  width: 145px;
  height: 31px;
  text-decoration: none;
}

header {
  width: 1600px;
  height: 80px;
  background-color: var(--color5);
  border: 1px solid #eeeeee;
}

footer {
  width: 1600px;
  height: 252px;
  background: var(--color6);
}

.logo1 {
  color: var(--color3);
}

.logo2 {
  color: var(--color1);
}

.logo3 {
  color: var(--color5);
}

.address {
  font-style: normal;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.footer-contact {
  color: var(--color9);
  text-decoration: none;
}

.street {
  color: var(--color5);
}

.footer-contact:hover {
  text-decoration: underline;
  color: var(--color3);
}

.footer-contact:focus {
  color: var(--color3);
}

.footer-contact:active {
  color: var(--color3);
}

.list {
  list-style-type: none;
}

.up-button-text {
  align: center;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 116%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color5);
}

.button1 {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--color3);
  border-radius: 4px;
  border-color: var(--color3);
  box-shadow: 0px 4px 4px 0px #00000026;
  cursor: pointer;
}

.button1-text {
  width: 117px;
  height: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-style: Bold;
  letter-spacing: 0.06em;
  color: var(--color5);
  align: center;
}

.feature-section {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.feature-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature1 {
  width: 270px;
  height: 101px;
  left: 215px;
  top: 774px;
}

.feature2 {
  width: 270px;
  height: 101px;
  left: 515px;
  top: 774px;
}

.feature3 {
  width: 270px;
  height: 101px;
  left: 815px;
  top: 774px;
}

.feature4 {
  width: 270px;
  height: 101px;
  left: 1115px;
  top: 774px;
}

.feature-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  letter-spacing: 0.03em;
  color: var(--color4);
}

.services-section {
  width: 1170px;
  height: 386px;
}

.services-heading {
  white-space: nowrap;
  width: 352px;
  height: 42px;
  left: 624px;
  top: 969px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-images {
  mix-blend-mode: normal;
}

.team-section {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
  background: var(--color7);
}

.team-section-heading {
  white-space: nowrap;
  width: 210px;
  height: 42px;
  left: 695px;
  top: 1543px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section-worker {
  width: 270px;
  height: 368px;
  background: var(--color5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  letter-spacing: 3%;
}

.job {
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color4);
}

.buttons {
  background: var(--color7);
  border-radius: 4px;
  border-color: var(--color7);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  font-style: normal;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.buttons:hover {
  background: var(--color3);
  color: var(--color5);
  border-color: var(--color3);
}

.buttons:focus {
  background: var(--color3);
  color: var(--color5);
  border-color: var(--color3);
}

.project {
  box-sizing: border-box;
  width: 370px;
  height: 404px;
  background: var(--color5);
  border: 1px solid #eeeeee;
}

.project-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: var(--color2);
}

.project-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: var(--color4);
}

.portfolio-main {
  background-color: var(--color5);
  width: 1600px;
}
